
intro-title-baseline = 1.75rem
intro-color-red-npm = #CB3837

.intro-title__placeholder
    position relative

.intro-title__offset
    position absolute
    top -(intro-title-baseline)
    left 0
    font-weight 900
    font-size  1.5rem
    color intro-color-red-npm

.intro-title__desc
    position absolute
    bottom -(intro-title-baseline)
    left 0
    font-weight 200
    font-size 1rem

.intro-title--small
    font-size 1.5rem

    .intro-title__offset
        font-size .8rem
