// Constrained width modifiers to controll layout
.cw
    width 95%
    margin-left auto
    margin-right auto

.cw--small
    max-width 580px

.cw--medium
    max-width 760px

.cw--large
    max-width 1024px

.cw--xlarge
    max-width 1280px
