padding-value = 1.75rem

.padding
    padding padding-value

.padding--t
    padding-top padding-value

.padding--r
    padding-right padding-value

.padding--b
    padding-bottom padding-value

.padding--l
    padding-left padding-value

.padding--large
    &.padding
        padding 2 * padding-value

    &.padding--t
        padding-top 2 * padding-value

    &.padding--r
        padding-right 2 * padding-value

    &.padding--b
        padding-bottom 2 * padding-value

    &.padding--l
        padding-left 2 * padding-value

.padding--small
    &.padding
        padding padding-value / 2

    &.padding--t
        padding-top padding-value / 2

    &.padding--r
        padding-right padding-value / 2

    &.padding--b
        padding-bottom padding-value / 2

    &.padding--l
        padding-left padding-value / 2

.padding--reset-t
    padding-top 0

.padding--reset-b
    padding-bottom 0

.padding--reset-l
    padding-left 0

.padding--reset-r
    padding-right 0
