h1.type--color-white-light.intro-title
    span.intro-title__placeholder #[span.intro-title__offset NPM] Starter Kit #[small.intro-title__desc.margin--small.margin--negative-t NPM build tool and a starter kit]
