// Breakpoints
// =============
mobile = 430px
tablet = 600px
desktop--small = 800px
desktop--medium = 960px

// Usage:
// button
//  +respond-above(mobile)
//    flex-direction column

respond-above(var)
  condition = '(min-width: %s)' % var
  @media condition
    {block}
